@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-yellow: #db9a26;
  --silver-gray: #d9d9d9;
  --darker-gray: #cec5b4;
  --font-gray: #c6c5c3;
  --main-purple: #c60fc9;
  --darker-purple: #6c1973;
  --dark-blue: #011e2e;
  --secondary-blue: #1a6578;
  --dark-red: #990a0e;
  --white-tint: #eeedee;
  --greenish: #2dd14b;
  --main-font: Helvetica;
}

html {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  font-size: 62.5%;
  font-family: var(--main-font);

  background: url(./imgs/wilty-logo.png),
    /* linear-gradient(135deg, #c60fc9 0%, #eeedee 100%); */
      /* linear-gradient(135deg, #c60fc9, #2dd14bee ); */
      /* linear-gradient(135deg, #c60fc9 0%, #ff6ec4 50%, #7873f5 100%); */
      /* radial-gradient(#c60fc9 0%, #ff6ec4 50%, #7873f5 100%); */
      radial-gradient(#c60fc9 0%, #db9a26 100%);

  background-position: center -80px, center;
  background-repeat: no-repeat;
  background-size: auto, 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  flex: 1;
}

@layer components {
  .layout-container {
    @apply max-w-[70%]  m-auto mt-[18dvh] min-h-[400px];
  }
}
@layer components {
  .join-lobby-form .join-lobby-form-input {
    @apply flex flex-col gap-3;
  }

  .join-lobby-form .join-lobby-form-input label {
    @apply text-3xl text-white-tint font-semibold tracking-wide;
  }

  .join-lobby-form input {
    @apply p-4 rounded-2xl bg-white/20 text-white border border-white/30 
           focus:outline-none focus:ring-2 focus:ring-secondary-blue transition-all duration-200;
    font-size: 1.5rem;
  }

  .join-lobby-form .join-lobby-form-input input[type="text"]::placeholder {
    color: #e2e8f0aa; /* light slate-ish */
  }

  .join-lobby-form input[type="submit"] {
    @apply bg-white text-secondary-blue font-bold text-2xl py-3 px-6 rounded-xl 
           transition duration-300 ease-in-out hover:bg-secondary-blue 
           hover:text-white hover:shadow-md cursor-pointer;
  }
}

@layer components {
  .player {
    @apply flex items-center gap-4 px-6 min-h-[80px] rounded-xl 
           backdrop-blur-md  
           transition duration-300 ease-in-out;
  }

  .player p {
    font-weight: 800;
    font-size: 1.6rem;
    margin-left: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #f9f9f9;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
  }
}

@layer components {
  .card-container {
    /* @apply bg-center bg-[length:85%] cursor-pointer border-2 border-white/80  text-[2.5rem] rounded min-h-[375px] grid justify-center align-middle; */
    @apply bg-center bg-[length:85%] h-[35vh] cursor-pointer border-2 border-white/80 
    w-[100%] mx-auto grid place-items-center text-[2.5rem] rounded min-h-[175px];
  }
}
