@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-yellow: #db9a26;
  --silver-gray: #d9d9d9;
  --darker-gray: #cec5b4;
  --font-gray: #c6c5c3;
  --main-purple: #c60fc9;
  --darker-purple: #6c1973;
  --dark-blue: #011e2e;
  --secondary-blue: #1a6578;
  --dark-red: #990a0e;
  --white-tint: #eeedee;
  --greenish: #2dd14bee;
  --main-font: Helvetica;
}

html {
  height: 100dvh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: var(--main-font);

  background: url(./imgs/wilty-logo.png),
    /* linear-gradient(135deg, #c60fc9 0%, #eeedee 100%); */
      /* linear-gradient(135deg, #c60fc9, #2dd14bee ); */
      /* linear-gradient(135deg, #c60fc9 0%, #ff6ec4 50%, #7873f5 100%); */
      /* radial-gradient(#c60fc9 0%, #ff6ec4 50%, #7873f5 100%); */
      radial-gradient(#c60fc9 0%, #db9a26 100%);

  background-position: center -80px, center;
  background-repeat: no-repeat;
  background-size: auto, 100%;
}

@layer components {
  .layout-container {
    @apply max-w-[70%] m-auto mt-[18dvh] min-h-[400px];
  }
}
