.player {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 2.5em;
}

.player > div:first-child,
.player--input > div:first-child {
  display: flex;
  align-items: center;
  gap: 15px;

  height: 35px;
  width: 100%;
}
