.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-size: 2em;
  border-radius: 8px;

  min-height: 80px;
}

.player img {
  width: 45px;
}
